/* estilo propio para el sitio web */
/* fuente interna*/
@font-face {
    font-family: "belleza";
    src: url(../resources/font/Belleza-Regular.ttf);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: "belleza";

}

header {
    min-height: 13vh;
    background-color: #e7ecef;
    color: #272932;
}

/* main */
main {
    min-height: 80vh;
    background-color: #272932;
    color: #e7ecef;
}

/* footer */
footer {
    min-height: 7vh;
    background-color: #9684a1;
}

.foot {
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
}

.redes {
    width: 45px;
    margin: 7px;
}

.terms {
    display: flex;
    justify-content: center;

}

.terms p {
    margin: 15px;
}

/* barra navegación */
.logo {
    width: 80px;
    margin: 5px;
}
.logo:hover{
    transform: scale(1.13);
    transition: 0.25s;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    width: 92vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: x-large;
}

.menu a {
    color: #272932;
    text-decoration: none;

}
.menu a:hover{
    color: #119da4;
    font-weight: bold;
    transform: scale(1.13);
}

/* encabezado */
.encabezado {
    text-align: center;
    color: #bb342f;
}

/* index */
.index-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.index-div {
    width: 20vw;
}

.index-div p {
    width: 15vw;
    font-size: medium;
    text-align: justify;
}

.img-seccion {
    width: 20vw;
    transition: 1.13s;
    animation-name: entrada-imagenes;
    animation-duration: 1.3s;
    animation-delay: 0.1s;

}
.fade-entrada {
	-webkit-animation: fade-entrada 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-entrada 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* bazar */
h4 {
    margin-left: 50px;
}

.bazar-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: auto;

}

.bazar-grid p {
    width: 75%;

}

.categorias {
    grid-area: 1 / 1 / 4 / 2;

}

.categorias li {
    margin: 50px;
}

.video {
    grid-area: 4 / 1 / 7 / 2;


}

.fila-1 {
    display: flex;
    justify-content: space-evenly;
    grid-area: 1 / 2 / 3 / 6;

}

.fila-2 {
    display: flex;
    justify-content: space-evenly;
    grid-area: 3 / 2 / 5 / 6;


}

.fila-3 {
    display: flex;
    justify-content: space-evenly;
    grid-area: 5 / 2 / 7 / 6;
    margin-bottom: 30px;

}

.item {
    max-width: 75%;
    margin-top: 20px;
    margin-bottom: 5px;

}
.slit {
	-webkit-animation: slit 0.9s ease-out both;
	        animation: slit 0.9s ease-out both;
}

/* expresion */
.galeria{
    max-width: 25%;
    margin: auto;
    
}
.imagen{
    width: 25vw;
    
}
.informacion{
    text-align: center;
    font-size: large;
}
/* conexion */
/* identidad */
/* animaciones */
  @keyframes fade-entrada {
    0% {
      opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slit {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  
  
/* estrategia mobile last ----maxwidth*/
@media (max-width: 420px) {
    .navi {
        justify-content: center;
    }
    .navi a{
        font-size: small;
    }
    .fila-1,
    .fila-2,
    .fila-3 {
        flex-wrap: wrap;
    }
}