.footer {
    background-color: $rosa;
    height: 12vh;

    &__foot {
        justify-content: center;
    }

    &__social {
        display: flex;
        justify-content: center;
    }

    &__redes {
        width: 45px;
        margin: 7px;
    }

    &__terms {
        display: flex;
        justify-content: center;

        p {
            margin: 15px;
        }
    }
}

@media (max-width: 720px){
    .footer{
        height: 10%;
    }
    
}