.header {
    background-color: $blanco;
    color: $negro;
    font-family: $belleza;

    &__logo {
        @include tamano-imagen(80px, 1px);
        margin: 5px;

        &:hover {
            transform: scale(1.13);
            transition: 0.25s;
        }
    }

}

/* estrategia mobile last ----maxwidth*/
@media (max-width: 720px) {
    p {
        font-size: small;
    }

    .header {
        height: 10%;
    }

}