.main {
    &__gal-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__imagen {
        @include tamano-imagen(200px, 10px);
    }

    &__informacion {
        text-align: center;
        font-size: large;
    }
    &__enlace{
        &:link{
            color: $rojo;
        }
        &:visited{
            color: $cyan;
        }
    }

}

/* estrategia mobile last ----maxwidth*/
@media (max-width: 720px) {
    .main {
        &__gal-div {
            justify-content: space-around;
        }
    }

}