.main {
    background-color: $negro;
    color: $blanco;

    &__encabezado {
        text-align: center;
        color: $rojo;
    }

    &__index-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__primero {
        margin-left: 20px;
    }

    &__ultimo {
        margin-right: 20px;
    }

    &__index-div {
        align-items: center;
        width: 22%;

        p {
            font-size: medium;
            text-align: justify;
        }
    }

    &__img-seccion {
        @include tamano-imagen(100%, 1px);
        transition: 1.13s;
        animation-name: entrada-imagenes;
        animation-duration: 1.3s;
        animation-delay: 0.1s;
    }

    .fade-entrada {
        -webkit-animation: fade-entrada 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-entrada 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

@keyframes fade-entrada {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 720px) {
    .main {
        height: 78%;

        &__index-flex {
            flex-direction: column;
            justify-content: center;
            font-size: small;
        }

        &__index-div {
            width: 95%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
        }

        &__img-section {
            @include tamano-imagen(85%, 5px);
            margin-left: 20px;
        }
    }
}